/* single product detail */
.single-product {
     margin-top: 60px;
}

.single-product .col-2 img {
     padding: 0;
}

.single-product .col-2 {
     padding: 20px;
}

.single-product h4 {
     margin: 20px 0;
     font-size: 22px;
     font-weight: bold;
}

.single-product select {
     display: block;
     padding: 10px;
     margin-top: 20px;
}

.single-product input {
     width: 50px;
     height: 40px;
     padding-left: 10px;
     margin-right: 10px;
     font-size: 20px;
     border: 1px solid #ff523b;
}

input:focus {
     outline: none;
}

.single-product .fa {
     color: #ff523b;
     margin-left: 10px;
}

.small-img-row {
     display: flex;
     justify-content: space-between;
}

.small-img-col {
     flex-basis: 24%;
     cursor: pointer;
}

.cart-page {
     margin: 80px auto;
}

table {
     width: 100%;
     border-collapse: collapse;
}

.cart-info {
     display: flex;
     flex-wrap: wrap;
}



td {
     padding: 10px 5px;
}

td input {
     width: 40px;
     height: 30px;
     padding: 5px;
}


td img {
     width: 80px;
     height: 80px;
     margin-right: 10px;
}

.total-price {
     display: flex;
     justify-content: flex-end;
}


td:last-child {
     text-align: right;
}

th:last-child {
     text-align: right;
}

.ii{
     margin-left: 10px;
}