{% extends 'base.html' %}

{% block abc %}

<div class="container">
     <div class="row">
          <div class="col-md-6 mb-3 mt-0">
               <img src="{{url_for('static', filename='img/login.png')}}" alt="Login Image"
                    class="img-fluid rounded imgg">
          </div>
          <div class="col-md-6 main_div">
               <h2 class="text-center mt-0" style="color: #013220;">Welcome Back</h2>
                    <form action="{{ url_for('login') }}" method="POST">
                         {% if password_error %}
                         <div class="alert alert-danger text-center" role="alert">
                              <strong>{{ password_error }}</strong>
                         </div>
                         {% endif %}
                         <div class="mb-3">
                              <label for="email" class="form-label" style="color: #000000; font-size: 1rem;">Email Address</label>
                              <input type="email" id="email" name="email" class="form-control"
                                   placeholder="Enter your email" required style=" width: 100%; padding: 10px; margin: 10px 0 20px; border: 1px solid #4B3F2F; border-radius: 5px; background-color: #D3D3D3; color: #000000;">
                         </div>
                         <div class="mb-3">
                              <label for="password" class="form-label" style="color: #000000; font-size: 1rem;">Password</label>
                              <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Enter your password" required style=" width: 100%; padding: 10px; margin: 10px 0 20px; border: 1px solid #4B3F2F; border-radius: 5px; background-color: #D3D3D3; color: #000000;">
                         </div>
                         <button type="submit" class="btnnn btn-primary w-100" style="background-color: #013220;">Login</button>
                         <div class="text-center mt-3">
                              <p style="color: #000000;">Don't have an account? <a style="color: #013220;" href="/signup/">Sign Up</a></p>
                              <p><a style="color: #013220;" href="/forgot-password/">Forgot Password?</a></p>
                         </div>
                    </form>
          </div>
          
     </div>
</div>
<!-- <div class="container ">
     <div class="row justify-content-center align-items-center vh-100"> -->
          <!-- Login Form Section -->
          <!-- <div class="col-md-6">
               <div class="cardd shadow-lg p-4 mt-0">
                    <h2 class="text-center mt-0">Welcome Back</h2>
                    <form action="{{ url_for('login') }}" method="POST">
                         {% if password_error %}
                         <div class="alert alert-danger text-center" role="alert">
                              <strong>{{ password_error }}</strong>
                         </div>
                         {% endif %}
                         <div class="mb-3">
                              <label for="email" class="form-label" style="color: #000000; font-size: 1rem;">Email Address</label>
                              <input type="email" id="email" name="email" class="form-control"
                                   placeholder="Enter your email" required style=" width: 100%; padding: 10px; margin: 10px 0 20px; border: 1px solid #4B3F2F; border-radius: 5px; background-color: #E0DDD2; color: #000000;">
                         </div>
                         <div class="mb-3">
                              <label for="password" class="form-label" style="color: #000000; font-size: 1rem;">Password</label>
                              <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Enter your password" required style=" width: 100%; padding: 10px; margin: 10px 0 20px; border: 1px solid #4B3F2F; border-radius: 5px; background-color: #E0DDD2; color: #000000;">
                         </div>
                         <button type="submit" class="btnnn btn-primary w-100" style="background-color: #4B3F2F;">Login</button>
                         <div class="text-center mt-3">
                              <p style="color: #000000;">Don't have an account? <a style="color: #4B3F2F;" href="/signup/">Sign Up</a></p>
                              <p><a style="color: #4B3F2F;" href="/forgot-password/">Forgot Password?</a></p>
                         </div>
                    </form>
               </div>
               <div class="col-md-6 mb-3 mt-0">
                    <img src="{{url_for('static', filename='img/login.png')}}" alt="Login Image"
                         class="img-fluid rounded imgg">
               </div>
          </div>
     </div>
</div> -->


{% endblock abc%}