{% extends 'base.html' %}
{% block abc %}
<!-- single product detail -->
<h2 class="mt-5 mb-0 text-center" style="color: #013220;">Product Details</h2>
<div class="container">
     <div class="small-container single-product">
          <div class="row">
               <div class="col-md-6 mb-4">
                    <img src="{{mydata.img1}}" width="100%" id="product-img" style="border-radius: 15%;">

                    <div class="small-img-row mt-3">
                         <div class="small-img-col">
                              <img src="{{mydata.img1}}" class="small-img" width="100%">
                         </div>
                         <div class="small-img-col ii">
                              <img src="{{mydata.img2}}" class="small-img" width="100%">
                         </div>
                         <div class="small-img-col ii">
                              <img src="{{mydata.img3}}" class="small-img" width="100%">
                         </div>
                         <div class="small-img-col ii">
                              <img src="{{mydata.img4}}" class="small-img" width="100%">
                         </div>
                         <div class="small-img-col ii">
                              <img src="{{mydata.img5}}" class="small-img" width="100%">
                         </div>
                    </div>
               </div>
               <div class="col-md-6 mt-5 mb-5">
                    <h1  class="mt-3" style="color: #013220;">{{mydata.productname}}</h1>
                    <p class="mt-3" style="color: #000000;"><strong>{{mydata.productPrice}}</strong></p>
                    <h3 class="mt-2" style="color: #013220;">Product Details <i class="fa fa-indent"></i></h3>
                    <p class="mt-3" style="color: #000000;">{{mydata.productDesc}}</p>
                    
                    <input type="number" value="1">
                    <a href="/cart/" class="btn" style="background-color: #013220;">Add To cart</a>
               </div>
          </div>
     </div>
</div>

<script>
     var menuitems = document.getElementById("menuitems");
     menuitems.style.maxHeight = "0px";
     function menutoggle() {
          if (menuitems.style.maxHeight == "0px") {
               menuitems.style.maxHeight = "200px";
          }
          else {
               menuitems.style.maxHeight = "0px";
          }
     }
</script>

<!-- js for product gallery -->
<script>
     var productImg = document.getElementById("product-img")
     var smallImg = document.getElementsByClassName("small-img")

     smallImg[0].onclick = function () {
          productImg.src = smallImg[0].src;
     }

     smallImg[1].onclick = function () {
          productImg.src = smallImg[1].src;
     }

     smallImg[2].onclick = function () {
          productImg.src = smallImg[2].src;
     }

     smallImg[3].onclick = function () {
          productImg.src = smallImg[3].src;
     }
     smallImg[4].onclick = function () {
          productImg.src = smallImg[4].src;
     }
</script>

{% endblock abc%}