{% extends 'base.html' %}
{% block abc %}
<!-- main content -->
<div class="container mt-5">
     <!-- Heading -->
     <h2 class="text-center fw-bold mb-2" style=" color: #013220;">Blogs</h2>

     <!-- Blog Cards -->
     <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
          {% for i in data %}
          <div class="col">
               <div class="card border-0 shadow-sm" style="border-radius: 12px; overflow: hidden;">
                    <!-- Image Section -->
                    <div style="position: relative;">
                         <img src="{{ url_for('static', filename=i.bimg.split('static/')[-1]) }}"
                              alt="{{ i.blogtitle }}" class="card-img-top"
                              style="height: 200px; object-fit: cover; filter: brightness(0.85);">
                         <div
                              style="position: absolute; top: 10px; left: 10px; background-color: rgba(0, 0, 0, 0.6); color: white; padding: 5px 10px; border-radius: 5px;">
                              New
                         </div>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body text-center" style="background: linear-gradient(to bottom, #ffffff, #556B2F);">
                         <h5 class="card-title" style="color: #013220; font-weight: bold;">{{ i.blogtitle }}</h5>
                         <p class="card-text" style="font-size: 1.1rem; color:#000000">{{ i.blogDesc }}</p>

                         {% if role != 'admin'%}
                         <a href="{{ i.url }}" class="btn btn-sm text-white"
                         style="background-color: #013220; border-radius: 20px; font-weight: 600;">Read More</a>
                         {% endif %}

                         {% if role == 'admin'%}
                         <a href="/upblog/{{i.id}}" class="btn btn-sm text-white"
                         style="background-color: #013220; border-radius: 20px; font-weight: 600;">Update Blog</a>

                         <a href="/deleted/{{i.id}}" class="btn btn-sm text-white btn-danger"
                         style=" border-radius: 20px; font-weight: 600;">Delete Blog</a>
                         {% endif %}
                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>


{% endblock abc%}