{% extends 'base.html' %}

{% block abc %}

<!-- main container -->
<div class="container ">
     <div class="row">
          <div class="col-md-6 mt-3">
               <img src="{{url_for('static' ,filename ='img/signup.png')}}" alt="Signup Image" class="imgg">
          </div>
          
          <div class="col-md-6 mb-4">
               <!-- Signup Form -->
               <div class="container-fluid main_div">
                    <form action="{{ url_for('signup') }}" method="POST">
                         <h2 class="text-center mb-4">Create New Account</h2>
                         {% if success %}
                         <div  style="color:#013220;">
                              <strong>{{ success }}</strong>
                         </div>
                         {% else %}
                         <div  style="background-color: #f8d7da; color: #721c24;">
                              <strong>{{ error }}</strong>
                         </div>
                         {% endif %}
                         <label for="user_name">User Name</label>
                         <input type="text" id="user_name" name="username" placeholder="Enter your username">

                         <label for="email">Email</label>
                         <input type="email" id="email" name="email" placeholder="Enter your email">

                         <label for="phone">Phone no.</label>
                         <input type="number" id="phone" name="phone" placeholder="Enter your Phone no.">

                         <label for="password">Password</label>
                         <input type="password" id="password" name="password" placeholder="Enter your password">

                         <button type="submit" class="btn btn-primary w-100">Sign Up</button>

                         <div class="text-center mt-3">
                              <p style="color: #000000;">Login To Your Account. <a style="color: #013220;" href="/login/">Login</a></p>
                         </div>
                    </form>
               </div>
          </div>
         

          
     </div>
     
</div>
{% endblock abc%}