{% extends 'admin_base.html' %}
{% block xyz %} 

<!-- Add blog Form -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-12" style="background-color: #F8F9FA;">
            <div class="card border-0 shadow-sm">
                <div class=" text-center mt-4" style="color: #016563;">
                    <h2>Update Blog</h2>
                </div>
                <div class="card-body">
                    <form action="/Updblog/{{mydata.id}}" method="POST" enctype="multipart/form-data">

                        {% if success %}
                        <div class="text" style=" color:green">
                            <strong>{{ success }}</strong>
                        </div>
                        {% else %}
                        <div class="text" style="border: 1px solid red; color:red;">
                            <strong>{{ error }}</strong>
                        </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="blogTitle" class="form-label" style="color: #000000;">Blog Title</label>
                            <input type="text" class="form-control" id="blogTitle" placeholder="Enter blog title" name="btitle" value="{{mydata.blogtitle}}"style="color: #000000; background-color:#D3D3D3;"  required>
                        </div>

                        <div class="mb-3">
                            <label for="blogDescription" class="form-label" style="color: #000000;">Blog Description</label>
                            <textarea class="form-control" id="blogDescription" rows="4" placeholder="Enter blog description" name="bdesc" required style="color: #000000; background-color:#D3D3D3;">{{mydata.blogDesc}}</textarea>
                        </div>

                        <div class="mb-3">
                             <label for="productImage" class="form-label" style="color: #000000;">Upload Image</label>

                             <!-- Display the pre-existing image -->
                             {% if mydata.bimg %}
                             <div>
                                  <p style="color: #000000;">Current Image: {{ mydata.bimg }}</p>
                             </div>
                             {% endif %}

                             <!-- Input field for file upload (without pre-set value) -->
                             <input class="form-control" type="file" id="productImage" accept="image/*"
                                  name="img" style="color: #556B2F; background-color:#D3D3D3;">
                        </div>

                        <div class="mb-3">
                            <label for="url" class="form-label" style="color: #000000;">Enter URL</label>
                            <input type="url" class="form-control" id="url" placeholder="Enter URL for read more" name="url" value="{{mydata.url}}" style="color: #000000; background-color:#D3D3D3;" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn w-100" style="background-color: #013220; color:#fff">update Blog</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock xyz%}