{% extends 'admin_base.html' %}
{% block xyz %}
<!-- main content -->
<div class="container mt-5">
    <!-- Heading -->
    <h2 class="text-center fw-bold mb-4" style="color: #013220;">All Users Info</h2>

    <!-- Responsive Table -->
    <div class="table-responsive">
        <table class="table table-bordered" style="border-color: #D3D3D3;">
            <thead style="background-color: #013220; border-color: #013220;">
                <tr>
                    <th scope="col" style="color: #fff; text-align: center;">Name</th>
                    <th scope="col" style="color: #fff; text-align: center;">Email</th>
                    <th scope="col" style="color: #fff; text-align: center;">Role</th>
                    <th scope="col" style="color: #fff; text-align: center;">Phone No.</th>
                </tr>
            </thead>
            <tbody>
                {% for i in userData %}
                <tr style="background-color: #F8F9FA;">
                    <td style="text-align: center;">{{ i.username }}</td>
                    <td style="text-align: center;">{{ i.email }}</td>
                    <td style="text-align: center;">{{ i.role }}</td>
                    <td style="text-align: center;">{{ i.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock xyz %}
