{% extends 'base.html' %}
{% block abc %}

<!-- view product -->
<div class="container py-5">
    <h1 class="text-center mb-4 fw-bold" style="color: #013220;">Explore Our Offered Products</h1>
    <div class="row">
        <!-- Tops -->
        <div class="col-md-4 mb-4">
            <div class="card  shadow-sm">
                <img src="{{ url_for('static', filename='img/top1.png') }}" class="card-img-top" alt="Tops"
                    style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Tops</strong></h5>
                    <p class="card-text" style="color: #000000;">Discover our exclusive collection of Tops.</p>
                    <div class="text-center">
                        <a href="/show_product/Tops"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottoms -->
        <div class="col-md-4 mb-4">
            <div class="card  shadow-sm">
                <img src="{{ url_for('static', filename='img/bottom.webp') }}" class="card-img-top"
                    alt="Bottoms" style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Bottoms</strong></h5>
                    <p class="card-text" style="color: #000000;">Find stylish and comfortable Bottoms.</p>
                    <div class="text-center">
                        <a href="/show_product/Bottoms"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jackets -->
        <div class="col-md-4 mb-4">
            <div class="card  shadow-sm">
                <img src="{{ url_for('static', filename='img/jacket.png') }}" class="card-img-top"
                    alt="Jackets" style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Jackets</strong></h5>
                    <p class="card-text" style="color: #000000;">Shop our trendy and warm Jackets.</p>
                    <div class="text-center">
                        <a href="/show_product/Jackets"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accessories -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='img/pend.png') }}" class="card-img-top"
                    alt="Accessories" style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Accessories</strong> </h5>
                    <p class="card-text" style="color: #000000;">Find the perfect accessories to complement your style.</p>
                    <div class="text-center">
                        <a href="/show_product/Accessories"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Makeup -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='img/customer4.png') }}" class="card-img-top" alt="Makeup"
                    style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong> Makeup</strong></h5>
                    <p class="card-text" style="color: #000000;">Explore our range of quality makeup products.</p>
                    <div class="text-center">
                        <a href="/show_product/Makeup"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Watchess -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='img/add_product_img.jpg') }}" class="card-img-top"
                    alt="Electronics" style="height: 250px; object-fit: cover; ">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Watches</strong> </h5>
                    <p class="card-text" style="color: #000000;">Browse our timeless collection of elegant and stylish watches.</p>
                    <div class="text-center">
                        <a href="/show_product/Watches"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Electronics -->
        <div class="col-md-4 mb-4">
            <div class="card  shadow-sm">
                <img src="{{ url_for('static', filename='img/electronics.jpeg') }}" class="card-img-top"
                    alt="Electronics" style="height: 250px; object-fit: cover;">
                <div class="card-body cc" style="background-color: #fef9f6;">
                    <h5 class="card-title" style="color: #000000;"><strong>Electronics</strong> </h5>
                    <p class="card-text" style="color: #000000;">Shop for the latest electronic gadgets and devices.</p>
                    <div class="text-center">
                        <a href="/show_product/Electronics"><button class="btn pbtn">Explore</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock abc%}